<launch>
    <arg name="agent_name" default="uav" />
    <arg name="agent_id" default="1" />
    <arg name="agent_prefix" default="/$(arg agent_name)$(arg agent_id)" />
    
    <!-- 里程计话题：使用 Sunray无人机控制框架 external_fusion_node 发布的 nav_msgs/Odometry。 -->
    <arg name="odom_topic" default="$(arg agent_prefix)/sunray/uav_odom" />
    
    <!-- 雷达点云：用于 map_manager 的 lidar pointcloud 模式。 -->
    <arg name="point_cloud_topic" default="/uav1/livox/lidar" />
    <!-- 相机深度点云：用于 map_manager 的 camera/depth pointcloud 模式。 -->
    <!-- 注意,这里的相机点云会在nav_rl的map_manager中依据外参配置文件occupancy_map_param.yaml，从相机系转换到map系，也就是z轴超前转换为z轴朝上 -->
    <arg name="camera_depth_point_cloud_topic" default="/cloud_registered_body" />
    
    <arg name="control_cmd_topic" default="$(arg agent_prefix)/sunray/uav_control_cmd" />
    <arg name="cmd_vel_topic" default="/CERLAB/quadcopter/cmd_vel" />
    <arg name="setpoint_pose_topic" default="/CERLAB/quadcopter/setpoint_pose" />
    
    <!-- 目标点捕获话题，此处move_base_simple可直接使用rviz中的2D点发布 -->
    <arg name="goal_topic" default="/move_base_simple/goal" />
    
    <arg name="node_name" default="NavRL2Sunray_$(arg agent_id)" />
    <arg name="queue_size" default="50" />
    <arg name="fixed_height" default="1.0" />
    <arg name="desired_yaw" default="0.0" />
    <arg name="frame_id" default="map" />
    <arg name="status_print_hz" default="1.0" />
    <param name="/rl/use_px4" value="false" />
    <param name="/rl/agent_name" value="$(arg agent_name)" />
    <param name="/rl/agent_id" value="$(arg agent_id)" />
    <param name="/rl/agent_prefix" value="$(arg agent_prefix)" />
    <param name="/rl/odom_topic" value="$(arg odom_topic)" />
    <param name="/rl/cmd_vel_topic" value="$(arg cmd_vel_topic)" />
    <param name="/rl/setpoint_pose_topic" value="$(arg setpoint_pose_topic)" />
    <param name="/rl/goal_topic" value="$(arg goal_topic)" />
    
    <arg name="publish_world_map_tf" default="true" />
    <!-- 发布一个tf变换，将map系与world系重合，map系为nav_rl自带的map_manager输出话题的坐标系，world为sunray调试/可视化数据输出的坐标系 -->
    <group if="$(arg publish_world_map_tf)">
        <node pkg="tf"
          type="static_transform_publisher"
          name="world_to_map_static_tf"
          args="0 0 0 0 0 0 world map 100" />
    </group>
    
    <!-- NavRL自带的map_manager地图管理节点 -->
    <arg name="map_config" default="$(find sunray_navrl_adapter)/config/real_config.yaml" />
    <rosparam file="$(arg map_config)" ns="/occupancy_map" />
    <param name="/occupancy_map/odom_topic" value="$(arg odom_topic)" />
    <param name="/occupancy_map/lidar_point_cloud_topic" value="$(arg point_cloud_topic)" />
    <param name="/occupancy_map/point_cloud_topic" value="$(arg camera_depth_point_cloud_topic)" />
    <node pkg="map_manager" type="occupancy_map_node" name="occupancy_map_node" output="screen" />
    
    <arg name="use_safety_shield" default="false" />
    <group if="$(arg use_safety_shield)">
        <include file="$(find navigation_runner)/launch/safety_shield.launch" />
    </group>
    
    <node pkg="sunray_navrl_adapter"
        type="NavRL2Sunray_node"
        name="$(arg node_name)"
        output="screen">
        <param name="input_topic" value="$(arg cmd_vel_topic)" />
        <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)" />
        <param name="setpoint_pose_topic" value="$(arg setpoint_pose_topic)" />
        <param name="goal_topic" value="$(arg goal_topic)" />
        <param name="odom_topic" value="$(arg odom_topic)" />
        <param name="output_topic" value="$(arg control_cmd_topic)" />
        <param name="queue_size" value="$(arg queue_size)" />
        <param name="fixed_height" value="$(arg fixed_height)" />
        <param name="desired_yaw" value="$(arg desired_yaw)" />
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="status_print_hz" value="$(arg status_print_hz)" />
    </node>

    <!-- RVIZ可视化接口 -->
    <arg name="rviz" default="false" />
    <arg name="rviz_config" default="$(find sunray_navrl_adapter)/rviz/real.rviz" />
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" required="true" />
    </group>

</launch>
