<launch>
  <!-- 启动Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find sunray_simulator)/worlds/sunray_empty_world.world"/>
  </include>

  <!-- 加载模型 -->
  <group ns="uav1">
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
        args="-file $(find sunray_simulator)/models/livox_mid360/livox_mid360.sdf -sdf -x 0 -y 0 -z 0 -model livox_mid360" output="screen"/>
  </group>
</launch>

<!-- args="-file $(find sunray_simulator)/models/sunray_with_mid360/sunray_with_mid360.sdf -sdf -x 0 -y 0 -z 0 -model livox_mid360" output="screen"/> -->