  <launch>
    <arg name="map_size_x" value="50.0"/>
    <arg name="map_size_y" value="50.0"/>
    <arg name="map_size_z" value=" 2"/>

    <!-- <arg name="odom_topic" value="visual_slam/odom" /> -->
    <arg name="odom_topic_1" value="/uav1/sunray/gazebo_pose"/>
    <arg name="odom_topic_2" value="/uav2/sunray/gazebo_pose"/>
    <arg name="odom_topic_3" value="/uav3/sunray/gazebo_pose"/>

    <arg name="cloudpoint2_topic_1" value="/uav1/livox_world"/>
    <arg name="cloudpoint2_topic_2" value="/uav2/livox_world"/>
    <arg name="cloudpoint2_topic_3" value="/uav3/livox_world"/>

    <include file="$(find ego_planner)/launch_sunray/run_in_swarm.launch">
        <arg name="drone_id" value="1"/>

        <arg name="init_x" value="-20.0"/>
        <arg name="init_y" value="-9.0"/>
         <arg name="init_z" value="0.1"/>

        <arg name="target_x" value="20.0"/>
        <arg name="target_y" value="9.0"/>
        <arg name="target_z" value="1"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic_1)"/>
        <arg name="cloudpoint2_topic" value="$(arg cloudpoint2_topic_1)"/>

        <arg name="goal_name_" value="/goal_0"/>
    </include>

    <include file="$(find ego_planner)/launch_sunray/run_in_swarm.launch">
        <arg name="drone_id" value="2"/>

        <arg name="init_x" value="-20.0"/>
        <arg name="init_y" value="-7.0"/>
         <arg name="init_z" value="0.1"/>

        <arg name="target_x" value="20.0"/>
        <arg name="target_y" value="7.0"/>
        <arg name="target_z" value="1"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic_2)"/>
        <arg name="cloudpoint2_topic" value="$(arg cloudpoint2_topic_2)"/>

        <arg name="goal_name_" value="/goal_1"/>
    </include>

    <!-- <include file="$(find ego_planner)/launch_sunray/run_in_swarm.launch">
        <arg name="drone_id" value="3"/>

        <arg name="init_x" value="-20.0"/>
        <arg name="init_y" value="-5.0"/>
         <arg name="init_z" value="0.1"/>

        <arg name="target_x" value="20.0"/>
        <arg name="target_y" value="5.0"/>
        <arg name="target_z" value="1"/>

        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic_3)"/>
        <arg name="cloudpoint2_topic" value="$(arg cloudpoint2_topic_3)"/>

        <arg name="goal_name_" value="/goal_2"/>
    </include> -->

  </launch>
