<launch>
    <arg name ="url" default="rtsp://192.168.2.113:8554/live" />
    <arg name ="topic" default="/web_cam/image_raw" />
    <node name="rtsp_push_node" pkg="sunray_media" type="rtsp_push_node" output="screen">
        <param name="frame_width" type="int" value="640"/>
        <param name="frame_height" type="int" value="480"/>
        <param name="fps" type="int" value="30"/>
        <param name="rtsp_url" type="string" value="$(arg url)"/>
        <param name="topic_name" type="string" value="$(arg topic)"/>
    </node>
</launch>



   
