<launch>
    <!-- <node name="uav_formation_node_1" pkg="sunray_formation" type="uav_formation_node" output="screen">
        <param name="agent_id" type="int" value="1" />
        <param name="agent_name" type="string" value="uav" />
        <param name="agent_num" type="int" value="6" />
        <param name="agent_type" type="int" value="0" />
        <param name="file_path" type="string" value="/home/yundrone/Sunray/sunray_formation/uav_formation/config/config.yaml" />
    </node>

    <node name="uav_formation_node_2" pkg="sunray_formation" type="uav_formation_node" output="screen">
        <param name="agent_id" type="int" value="2" />
        <param name="agent_name" type="string" value="uav" />
        <param name="agent_num" type="int" value="6" />
        <param name="file_path" type="string" value="/home/yundrone/Sunray/sunray_formation/uav_formation/config/config.yaml" />
    </node>

    <node name="uav_formation_node_3" pkg="sunray_formation" type="uav_formation_node" output="screen">
        <param name="agent_id" type="int" value="3" />
        <param name="agent_name" type="string" value="uav" />
        <param name="agent_num" type="int" value="6" />
        <param name="file_path" type="string" value="/home/yundrone/Sunray/sunray_formation/uav_formation/config/config.yaml" />
    </node> -->

    <!-- <node name="uav_formation_node_4" pkg="sunray_formation" type="uav_formation_node" output="screen">
        <param name="agent_id" type="int" value="4" />
        <param name="agent_name" type="string" value="uav" />
        <param name="agent_num" type="int" value="6" />
        <param name="agent_type" type="int" value="0" />
        <param name="file_path" type="string" value="/home/yundrone/Sunray/sunray_formation/uav_formation/config/config.yaml" />
    </node> -->

    <node name="uav_formation_node_5" pkg="sunray_formation" type="uav_formation_node" output="screen">
        <param name="agent_id" type="int" value="5" />
        <param name="agent_name" type="string" value="uav" />
        <param name="agent_num" type="int" value="6" />
        <param name="file_path" type="string" value="/home/yundrone/Sunray/sunray_formation/uav_formation/config/config.yaml" />
    </node>

    <!-- <node name="uav_formation_node_6" pkg="sunray_formation" type="uav_formation_node" output="screen">
        <param name="agent_id" type="int" value="6" />
        <param name="agent_name" type="string" value="uav" />
        <param name="agent_num" type="int" value="6" />
        <param name="file_path" type="string" value="/home/yundrone/Sunray/sunray_formation/uav_formation/config/config.yaml" />
    </node> -->
</launch>
