<launch>
	<arg name="uav_id" default="1"/>
	<arg name="uav_name" default="uav"/>
	<arg name="uav_num" default="3"/>
    <arg name="flash_screen" default="true"/>

	<node pkg="sunray_uav_control" type="show_detail_node" name="show_detail_node_$(arg uav_id)" output="screen">
		<param name="uav_id" value="$(arg uav_id)" />
		<param name="uav_name" value="$(arg uav_name)" />
		<param name="uav_num" value="$(arg uav_num)" />
		<param name="flash_screen" value="$(arg flash_screen)" />
	</node>
</launch>

