<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="vehicle" default="sunray"/>
    <arg name="world" default="$(find sunray_simulator)/worlds/sunray_empty_world.world"/>
    
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <arg name="uav_id_1" value="1"/>
    <arg name="uav_x_1"  value="-1"/>
    <arg name="uav_y_1"  value="-1"/>

    <arg name="uav_id_2" value="2"/>
    <arg name="uav_x_2"  value="0"/>
    <arg name="uav_y_2"  value="0"/>

    <arg name="uav_id_3" value="3"/>
    <arg name="uav_x_3"  value="-1"/>
    <arg name="uav_y_3"  value="1"/>

    <!-- UAV1 -->
    <group ns="uav$(arg uav_id_1)">
        <include file="$(find sunray_simulator)/launch_basic/sunray_sim_base.launch">
            <arg name="ID" value="$(arg uav_id_1)" />
            <arg name="x"  value="$(arg uav_x_1)"/>
            <arg name="y"  value="$(arg uav_y_1)"/>
        </include>
    </group>

    <!-- UAV2 -->
    <group ns="uav$(arg uav_id_2)">
        <include file="$(find sunray_simulator)/launch_basic/sunray_sim_base.launch">
            <arg name="ID" value="$(arg uav_id_2)" />
            <arg name="x"  value="$(arg uav_x_2)"/>
            <arg name="y"  value="$(arg uav_y_2)"/>
        </include>
    </group>

    <!-- UAV3 -->
    <group ns="uav$(arg uav_id_3)">
        <include file="$(find sunray_simulator)/launch_basic/sunray_sim_base.launch">
            <arg name="ID" value="$(arg uav_id_3)" />
            <arg name="x"  value="$(arg uav_x_3)"/>
            <arg name="y"  value="$(arg uav_y_3)"/>
        </include>
    </group>

</launch>